#content {
	max-width: 1001px;
}

#not_right_side ul {
	list-style: none;
	margin: 0;
}

#not_right_side label {
	color: var(--ic-brand-font-color-dark);
	text-transform: capitalize;
}

.dynamo-settings label {
	width: 80px;
	text-align: center;
}

.dynamo-settings ul li select,
.dynamo-settings ul li input[type=number] {
	margin-bottom: 5px;
}

.class-weights h3 {
	margin-top: 15px;
}

.class-weights input[type=number] {
	width: 30px;
}

.dynamo-settings .data_description {
	font-size: .8em;
	color: var(--ic-brand-font-color-dark);
}

/* Remove number up/down arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Work times styling */
.work-times input:invalid {
	border: 1px solid red;
}
